body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(252, 48, 241), rgb(139, 145, 254));
}

button{
  cursor: pointer;
}